@use "src/styles/variables" as *;
@use "src/components/Main/Button/style" as *;

.vm-execution-controls {

  &-buttons {
    display: flex;
    justify-content: space-between;
    border-radius: calc($button-radius + 1px);

    :is(.vm-autorefresh) {
      min-width: 107px;
    }

    &_mobile {
      flex-direction: column;
      gap: $padding-medium;
    }

    &__auto-refresh {
      display: flex;
    }
  }
}
